<h3 class="text-success bold">Define your post</h3>
<!-- <form [formGroup]="templateForm" novalidate>
    <div>
        <label>Quick Post to Service </label>
        <mat-form-field>
            <mat-select>
                <mat-option *ngFor="let service of userServices" [value]="service.serviceID">
                    {{ service.serviceName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="editor">
        <label>Body Content</label>
        <angular-markdown-editor textareaId="bodyContent" [options]="editorOptions" formControlName="body">
        </angular-markdown-editor>
    </div>
</form> -->
<form novalidate #f="ngForm" [formGroup]="templateForm" (ngSubmit)="post()">
    <label [attr.for]="body">Post Body</label> <br />
    <textarea id="bodyContent" formControlName="body" rows="10" cols="30"></textarea>
    <br /><br />
    <p>
        <b>Posting to service:</b><br />
        Telegram Test - 2306745293 - Service is hardcoded for testing! <br />
    </p>

    <!-- API Token Selection -->
    <div>
        <label for="apiTokenSelect">Select API Token:</label>
        <select id="apiTokenSelect" (change)="onApiTokenSelectionChange($event)" formControlName="selectedApiToken">
            <option value="">Please select an API token</option>
            <option *ngFor="let token of userApiTokens; trackBy: trackByTokenId" [value]="token.id">
                API Key: {{ token.apiKey.substring(0, 6) }}... ({{ token.id }})
            </option>
        </select>
        <button type="button" (click)="generateNewApiToken()">Generate New Token</button>
    </div>

    <!-- Additional form fields -->
    <div>
        <label for="titleInput">Title:</label>
        <input id="titleInput" type="text" formControlName="title" placeholder="Enter post title" />
    </div>

    <div>
        <label for="tagsInput">Tags (comma separated):</label>
        <input id="tagsInput" type="text" formControlName="tags" placeholder="tag1, tag2, tag3" />
    </div>

    <hr />
    <h3 class="text-success bold">Preview</h3>
    <div class="result-preview outline">
        <!-- <markdown [data]="markdownText"></markdown> -->
    </div>
    <hr />
    <div>
        <button mat-stroked-button type="submit">POST NOW</button>&nbsp;&nbsp;<button mat-stroked-button disabled>
            Schedule for Later</button
        >&nbsp;&nbsp;<button mat-stroked-button disabled>Save Draft</button>
    </div>
</form>
