<form [formGroup]="templateForm" novalidate>
    <div>
        <label>Quick Post to Service </label>
        <mat-form-field>
            <mat-select formControlName="service">
                <mat-option *ngFor="let service of userServices" [value]="service.serviceID">
                    {{ service.serviceName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="editor">
        <label>Post Body Content</label>
        <angular-markdown-editor textareaId="bodyContent" [options]="editorOptions" formControlName="body">
        </angular-markdown-editor>
    </div>
</form>

<hr />
<h3 class="text-success bold">Preview</h3>
<!-- <div class="result-preview outline">
    <markdown [data]="markdownText"></markdown>
</div> -->